.topbook {
    flex: 1;
    margin: 0 40px;
    min-width: 240px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.topbook-img {
    height: 240px;
    margin: 10px;
    vertical-align: middle;    
}

.topbook-title {
    font-weight: 500;
    margin: 10px;
    text-align: center;
}

.topbook-desc {
    margin: 0 10px;     
    text-align: justify;
    overflow: hidden;
    font-size: 0.9rem;
    color: rgb(108, 107, 107);
}